@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');


$title-font: 'Nova Mono', monospace;
$text-font: 'Nunito', sans-serif;

$blue:#041C32;
$orange:#F56038;
$yellow: #f7bc25;
$beige:#DAC0A3;
$white:#F8F0E5;