

.equipements{
   display:none;
   justify-content: center;
   align-items: center;
   width: 100%;
}
table{
   width: 100%;
   background-color: $white;
   border-collapse: collapse;
   border-radius: 7px;
   overflow: hidden;
   .tableHead{
      background-color: $blue;
      border-radius: 0px 0px 5px 5px;
   }
   tr{
      border-bottom: 3px solid $beige;
   }
   th{
      font-size: 1.5rem;
      color: #F56038;
      font-family: "Nova Mono", monospace;
      font-weight: 400;
   }
   th, td {
      border: none;
      padding: 15px;
      text-align: left;
   }
   button{
      padding: 8px;
      background-color: #F56038;
      color: #F8F0E5;
      border-radius: 3px;
      border: none;
      width: 6rem;
      font-weight: 100;
      float: inline-end;
   }
}