

.tasks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  .title{
    width: 100%;
    height: 2rem;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 6px 6px 0px 0px;
    h1{
      font-size: 1.5rem;
      color: $orange;
      font-family: "Nova Mono", monospace;
      font-weight: 400;
    }
  }
  .task{
    width: 100%;
    height: 7rem;
    background-color: #F8F0E5;
    margin-top: 4px;
    padding: 10px;
    word-wrap: break-word;
    h2{
      font-size: 20px;
      font-weight: 500;
    }
    p{
      font-size: 15px;
      color: #767171;
    }
    .priority{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      float: right;
      margin-top: 44px;
    }
  }
  .task:last-of-type{
    border-radius: 0px 0px 6px 6px;
  }
}